{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<!--**********************************
            Sidebar end
        ***********************************-->

<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">


    <div class="container-fluid" style="background-color: rgb(145, 187, 241);height: 150vh;">
        {% if request.user.userprofile_set.first.userType == "Owner" %}
        {% if request.user.userprofile_set.first.verified == True %}

        <h3>
            <button class="btn btn-primary" style="background-color: white;"><a href="/add-house/">Add
                    House</a></button>
        </h3>
        {% endif %}
        {% endif %}

        <div class="container pt-5">
            <div class="card-deck">
                {% if houses %}
                {% for h in houses %}
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <p class="card-text">HOUSE NO.: {{h.house_no}}</p>
                        <p class="card-text">OWNER CONTACT NO.: {{h.user.contact_No}}</p>
                        <p class="card-text">ROOM SIZE: {{h.room_size}}</p>
                        <p class="card-text">AREA: {{h.area}}</p>
                        <p class="card-text">CITY: {{h.city}}</p>
                        <p class="card-text">PINCODE: {{h.pincode}}</p>
                        <p class="card-text">STATUS: {{h.status}}</p>
                        <p class="card-text">PRICE: {{h.price}}</p>
                    </div>
                    <div class="text-center">
                        <a href="/view-house/{{h.id}}/"><button class="btn btn-primary submit-btn"
                                style="margin-bottom: 10px; border-radius: 20px;">View House</button></a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                No house found..
                {% endif %}

            </div>
            <br>
            <center style="margin-left: 450px;">

                {% if houses.has_other_pages %}
                <ul class="pagination">
                    {% if houses.has_previous %}
                    <li><a href="?page={{ houses.previous_page_number }}" class="btn btn-primary">&laquo;</a></li>
                    {% else %}
                    <li class="disabled btn btn-primary"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in houses.paginator.page_range %}
                    {% if houses.number == i %}
                    <li class="active btn btn-primary"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}" class="btn btn-primary">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if houses.has_next %}
                    <li><a href="?page={{ houses.next_page_number }}" class="btn btn-primary">&raquo;</a></li>
                    {% else %}
                    <li class="disabled btn btn-primary"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </center>
        </div>
    </div>
</div>
<!--**********************************
        Main wrapper end
    ***********************************-->

<!--**********************************
        Scripts
    ***********************************-->
{% endblock %}